/* ---------------------------------- Class CSS ---------------------------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(30, 0, 0)
}

.authors{
    background-color: #d3bbbc;
}

.body{
    background-color: rgb(148, 122, 126);
}

.chartjs-sample{
    background-color: #b08794;
}

.container {
    font-family: "Instrument Serif", "Montserrat", Cambria, monospace;
}

.footer{                
    background-color: #ae8b90;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.credits {
    font-family: "Instrument Serif", "Trirong", Cambria, Cochin, Georgia;
    font-size: 30px;
}

.nav-background-color{   /* navbar background color */
    background-color: #744545;
}

.nav-menu-item{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.new-font{
    font-family: "Montserrat", monospace;
    font-weight:400;
}
.overview{
    background-color: #d3bbbc;
}

.overview-left-padding{
    padding-left: 20px;
}

.overview-right-padding{  
    padding-right: 20px;
}

.procedure{
    background-color: #d3bbbc;
    padding: 1px;
}

.showcase{
    background-color: #d3bbbc; /*#0096c7*/
}

h1 {
    font-family: "Trirong", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

h1.display-4 {
    font-family: "Trirong", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #1a0000;
    text-shadow: 0px 0px 10px #ffc9c9;
    text-align: center;
    align-items: center;
    justify-content: center;
}
p {
    font-family:'Montserrat', Courier, monospace;
}

.minimize {
    font-size: 20px;
}

.nav-itm {
    font-family: "Instrument Serif", "Trirong", Cambria, Cochin, Georgia;
    font-size: 30px;
}

.hero-image {
    background-image: url("img/image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper{
    margin: auto;
    padding: 10px; 
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}